@import url(../Variables.css);

.btn,
.btn:hover {
  color: var(--clr-txt-primary);
  border-radius: var(--border-radius-primary);
}

.btn-nav {
  border-radius: 12rem;
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.7142em;
  line-height: 2rem;
  padding: 0px 15px;
  background-color: var(--clr-btn-sidebar);
}

.btn-nav:hover {
  background-color: var(--clr-btn-sidebar-hover);
}

.btn-sheet {
  background-color: var(--clr-btn-sheet);
  box-shadow: var(--box-shadow-component);
}

.btn-sheet:focus,
.btn-create:focus {
  outline: none !important;
  box-shadow: var(--box-shadow-component);
}

.btn-sheet:hover {
  background-color: var(--clr-btn-sheet-hover);
}

.btn-create {
  background-color: var(--clr-bg-sidebar);
  /* position: absolute;
  bottom: 0;
  right: 0; */
}
