@import url(../Variables.css);

.btn {
  background-color: var(--btn-color-primary) !important;
  color: var(--text-color-primary) !important;
}

.btn:hover {
  background-color: var(--btn-color-hover) !important;
  box-shadow: 1px 1px var(--btn-color-hover);
}

.btn-nav {
  /* margin: 10px 15px 0; */
  border-radius: 30px;
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.7142em;
  padding: 0px 5px;
  line-height: 1.625rem;
}

.btn-nav:hover {
  background-color: #4d6e8e;
}
