@import url(../Variables.css);

.info-card {
  background-color: var(--clr-bg-component);
  color: var(--clr-txt-primary);
  width: var(--card-width);
  height: var(--card-height);
}

.header-card {
  background-color: var(--clr-btn-sheet);
  color: var(--clr-txt-primary);
  box-shadow: var(--box-shadow-component);
  overflow: scroll;
  overflow-x: hidden;
  width: var(--card-width);
  height: var(--card-height);
}

.header-card::before,
.header-card::after {
  box-shadow: var(--box-shadow-component);
}

.info-card:hover {
  animation: zoom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes zoom {
  100% {
    transform: translateZ(0);
    transform: scale(1.1);
    opacity: 1;
  }
}
