@import url(../Variables.css);

.drag-drop__container {
  width: var(--component-width);
  height: var(--component-height);
  border-radius: var(--border-radius-primary);
  background-color: var(--clr-bg-component);
  box-shadow: var(--box-shadow-component);
}

.warning {
  font-size: 0.875em;
}
