@import url(../Variables.css);

.drag-drop__container {
  width: var(--container-width);
  height: var(--container-height);
  border-radius: var(--container-radius);
  background-color: var(--btn-color-primary);
}

.warning {
  font-size: 0.875em;
}
