@import url(../Variables.css);

.sheet-display,
.data-view__container {
  min-width: var(--component-width);
  height: calc(var(--component-height) * 2.8);
  background-color: var(--clr-bg-component);
  border-radius: var(--border-radius-primary);
  box-shadow: var(--box-shadow-component);
}

.headers-section {
  height: 25vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.sheets-data {
  overflow: scroll;
  overflow-x: hidden;
}

.test-flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
