@import url(../Variables.css);

.sheet-display,
.data-view__container {
  min-width: var(--container-width);
  height: calc(var(--container-height) * 2.8);
  background-color: var(--btn-color-primary);
  border-radius: var(--container-radius);
}

.underline {
  border-bottom: 0.2px solid;
}

.text {
  color: var(--text-color-primary) !important;
}

.headers-section {
  height: 25vh;
  overflow-x: hidden;
  overflow-y: auto;
}
