@import url(../Variables.css);

.sidebar {
  background-color: var(--clr-bg-sidebar);
  box-shadow: var(--box-shadow-component);
  width: var(--navbar-width);
}

.nav-text {
  color: var(--clr-txt-primary);
}
