@import url(../Variables.css);

.sidebar {
  min-width: 10%;
  width: var(--navbar-width) !important;
  left: 0;
  top: 0;
  background-color: var(--btn-color-primary);
  filter: drop-shadow(10px 30px 40px #113252);
}

.nav-text {
  color: var(--text-color-primary);
}
